USE [master]
GO
/****** Object:  Database [SWP391_Project_SQLShoes3]    Script Date: 3/15/2024 5:17:34 PM ******/
CREATE DATABASE [SWP391_Project_SQLShoes3]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SWP391_Project_SQLShoes3', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SWP391_Project_SQLShoes3.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SWP391_Project_SQLShoes3_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SWP391_Project_SQLShoes3_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SWP391_Project_SQLShoes3].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SWP391_Project_SQLShoes3]
GO
/****** Object:  Table [dbo].[AccountRoles]    Script Date: 3/15/2024 5:17:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountRoles](
	[accountId] [int] NULL,
	[roleId] [int] NULL,
	[startDate] [date] NULL,
	[endDate] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 3/15/2024 5:17:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[accountId] [int] IDENTITY(1,1) NOT NULL,
	[fullName] [nvarchar](100) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[password] [nvarchar](500) NOT NULL,
	[gender] [bit] NULL,
	[address] [nvarchar](255) NULL,
	[phone] [varchar](10) NULL,
	[userImage] [varchar](max) NULL,
	[lastLogin] [date] NULL,
	[createDate] [date] NOT NULL,
	[status] [int] NULL,
 CONSTRAINT [PK_Accounts] PRIMARY KEY CLUSTERED 
(
	[accountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Blogs]    Script Date: 3/15/2024 5:17:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blogs](
	[blogId] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](100) NOT NULL,
	[blogContent] [nvarchar](255) NOT NULL,
	[blogImage] [nvarchar](max) NULL,
	[createDate] [date] NOT NULL,
	[lastUpdate] [date] NULL,
	[employeeId] [int] NOT NULL,
 CONSTRAINT [PK_Blogs] PRIMARY KEY CLUSTERED 
(
	[blogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Brands]    Script Date: 3/15/2024 5:17:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brands](
	[brandId] [int] IDENTITY(1,1) NOT NULL,
	[brandName] [nvarchar](50) NULL,
	[brandDescription] [nvarchar](255) NULL,
	[createDate] [date] NOT NULL,
	[lastUpdate] [date] NULL,
 CONSTRAINT [PK_Brands] PRIMARY KEY CLUSTERED 
(
	[brandId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 3/15/2024 5:17:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[categoryId] [int] IDENTITY(1,1) NOT NULL,
	[categoryName] [nvarchar](50) NULL,
	[categoryDescription] [nvarchar](255) NULL,
	[createDate] [date] NOT NULL,
	[lastUpdate] [date] NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[categoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Colors]    Script Date: 3/15/2024 5:17:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Colors](
	[colorId] [int] IDENTITY(1,1) NOT NULL,
	[color] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Colors] PRIMARY KEY CLUSTERED 
(
	[colorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedbacks]    Script Date: 3/15/2024 5:17:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedbacks](
	[productId] [int] NOT NULL,
	[feedbackDescription] [nvarchar](255) NOT NULL,
	[customerId] [int] NOT NULL,
	[rating] [float] NULL,
	[createDate] [date] NOT NULL,
	[feedbackImage] [nvarchar](max) NULL,
	[feedbackId] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Feedbacks] PRIMARY KEY CLUSTERED 
(
	[feedbackId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImportBillDetails]    Script Date: 3/15/2024 5:17:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImportBillDetails](
	[importDetailId] [int] IDENTITY(1,1) NOT NULL,
	[importId] [int] NOT NULL,
	[productId] [int] NOT NULL,
	[quantity] [nchar](10) NOT NULL,
	[unitPrice] [nchar](10) NOT NULL,
 CONSTRAINT [PK_ImportBillDetails] PRIMARY KEY CLUSTERED 
(
	[importDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImportBills]    Script Date: 3/15/2024 5:17:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImportBills](
	[importId] [int] IDENTITY(1,1) NOT NULL,
	[employeeId] [int] NOT NULL,
	[deliveryName] [nvarchar](50) NOT NULL,
	[deliveryPhone] [varchar](10) NOT NULL,
	[totalMoney] [int] NOT NULL,
	[deliverDate] [date] NOT NULL,
	[providerId] [int] NOT NULL,
	[note] [nvarchar](255) NULL,
 CONSTRAINT [PK_ImportBills] PRIMARY KEY CLUSTERED 
(
	[importId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 3/15/2024 5:17:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[orderId] [int] IDENTITY(1,1) NOT NULL,
	[customerId] [int] NOT NULL,
	[employeeId] [int] NULL,
	[shipperId] [int] NULL,
	[status] [int] NOT NULL,
	[orderDate] [datetime] NOT NULL,
	[acceptedDate] [datetime] NULL,
	[shippedDate] [datetime] NULL,
	[address] [nchar](1000) NOT NULL,
	[note] [nvarchar](max) NULL,
	[totalMoney] [money] NOT NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[orderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrdersDetails]    Script Date: 3/15/2024 5:17:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrdersDetails](
	[orderId] [int] NOT NULL,
	[productId] [int] NOT NULL,
	[unitPrice] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[colorId] [int] NOT NULL,
	[sizeId] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductDetails]    Script Date: 3/15/2024 5:17:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductDetails](
	[productId] [int] NOT NULL,
	[sizeId] [int] NOT NULL,
	[colorId] [int] NOT NULL,
	[productImage] [nvarchar](max) NULL,
	[quantity] [int] NOT NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[productId] ASC,
	[sizeId] ASC,
	[colorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 3/15/2024 5:17:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[productId] [int] IDENTITY(1,1) NOT NULL,
	[categoryId] [int] NOT NULL,
	[brandId] [int] NOT NULL,
	[productName] [nvarchar](255) NOT NULL,
	[productDescription] [nvarchar](max) NOT NULL,
	[productImage] [nvarchar](max) NULL,
	[unitPrice] [int] NOT NULL,
	[totalQuantity] [int] NOT NULL,
	[quantitySold] [int] NOT NULL,
	[status] [int] NOT NULL,
	[createDate] [date] NOT NULL,
	[lastUpdate] [date] NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[productId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Providers]    Script Date: 3/15/2024 5:17:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Providers](
	[providerId] [int] IDENTITY(1,1) NOT NULL,
	[providerName] [nvarchar](50) NOT NULL,
	[phone] [varchar](10) NOT NULL,
	[address] [nvarchar](255) NOT NULL,
	[note] [nvarchar](255) NULL,
	[createDate] [date] NOT NULL,
 CONSTRAINT [PK_Providers] PRIMARY KEY CLUSTERED 
(
	[providerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Replies]    Script Date: 3/15/2024 5:17:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Replies](
	[replyId] [int] IDENTITY(1,1) NOT NULL,
	[feedbackId] [int] NOT NULL,
	[employeeId] [int] NOT NULL,
	[reply] [nvarchar](255) NOT NULL,
	[createDate] [date] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 3/15/2024 5:17:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[roleId] [int] IDENTITY(1,1) NOT NULL,
	[roleName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[roleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalePrograms]    Script Date: 3/15/2024 5:17:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalePrograms](
	[salePrgmId] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](100) NOT NULL,
	[startDate] [date] NOT NULL,
	[endDate] [nchar](10) NULL,
 CONSTRAINT [PK_SalePrograms] PRIMARY KEY CLUSTERED 
(
	[salePrgmId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sales]    Script Date: 3/15/2024 5:17:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sales](
	[saleId] [int] IDENTITY(1,1) NOT NULL,
	[productId] [int] NOT NULL,
	[salePrgmId] [int] NOT NULL,
	[salePrcnt] [int] NOT NULL,
 CONSTRAINT [PK_Sales] PRIMARY KEY CLUSTERED 
(
	[saleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Size]    Script Date: 3/15/2024 5:17:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Size](
	[sizeId] [int] IDENTITY(1,1) NOT NULL,
	[size] [int] NOT NULL,
 CONSTRAINT [PK_Size] PRIMARY KEY CLUSTERED 
(
	[sizeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 3/15/2024 5:17:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[status] [int] NOT NULL,
	[statusName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Status] PRIMARY KEY CLUSTERED 
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AccountRoles] ([accountId], [roleId], [startDate], [endDate]) VALUES (11, 1, CAST(N'2024-01-29' AS Date), NULL)
INSERT [dbo].[AccountRoles] ([accountId], [roleId], [startDate], [endDate]) VALUES (NULL, 1, CAST(N'2024-01-30' AS Date), NULL)
INSERT [dbo].[AccountRoles] ([accountId], [roleId], [startDate], [endDate]) VALUES (15, 1, CAST(N'2024-01-30' AS Date), NULL)
GO
SET IDENTITY_INSERT [dbo].[Accounts] ON 

INSERT [dbo].[Accounts] ([accountId], [fullName], [email], [password], [gender], [address], [phone], [userImage], [lastLogin], [createDate], [status]) VALUES (1, N'customer1', N'customer1@gmail.com', N'123', 1, N'Hoai Duc, Hanoi', N'0967760888', NULL, CAST(N'2024-01-28' AS Date), CAST(N'2024-01-16' AS Date), 0)
INSERT [dbo].[Accounts] ([accountId], [fullName], [email], [password], [gender], [address], [phone], [userImage], [lastLogin], [createDate], [status]) VALUES (2, N'customer2', N'customer2@gmail.com', N'123', 0, N'Cai Lay, Tien Giang', N'0123456789', NULL, NULL, CAST(N'2024-01-16' AS Date), NULL)
INSERT [dbo].[Accounts] ([accountId], [fullName], [email], [password], [gender], [address], [phone], [userImage], [lastLogin], [createDate], [status]) VALUES (3, N'customer3', N'customer3@gmail.com', N'123', 1, N'Cu Chi, Thanh pho Ho Chi Minh', N'0967760897', NULL, NULL, CAST(N'2024-01-16' AS Date), NULL)
SET IDENTITY_INSERT [dbo].[Accounts] OFF
GO
SET IDENTITY_INSERT [dbo].[Blogs] ON 

INSERT [dbo].[Blogs] ([blogId], [title], [blogContent], [blogImage], [createDate], [lastUpdate], [employeeId]) VALUES (1, N'Title 1, Today is Monday', N'Li K Ba Ca Na Mg Al', N'https://images.pexels.com/photos/36478/amazing-beautiful-beauty-blue.jpg?cs=srgb&dl=pexels-pixabay-36478.jpg&fm=jpg', CAST(N'2024-01-01' AS Date), CAST(N'2024-01-01' AS Date), 1)
INSERT [dbo].[Blogs] ([blogId], [title], [blogContent], [blogImage], [createDate], [lastUpdate], [employeeId]) VALUES (2, N'Title 2, Today is Monday', N'Li K Ba Ca Na Mg Al', N'https://images.pexels.com/photos/36478/amazing-beautiful-beauty-blue.jpg?cs=srgb&dl=pexels-pixabay-36478.jpg&fm=jpg', CAST(N'2024-01-01' AS Date), CAST(N'2024-01-01' AS Date), 1)
INSERT [dbo].[Blogs] ([blogId], [title], [blogContent], [blogImage], [createDate], [lastUpdate], [employeeId]) VALUES (3, N'Title 3, Today is Monday', N'Li K Ba Ca Na Mg Al', N'https://images.pexels.com/photos/36478/amazing-beautiful-beauty-blue.jpg?cs=srgb&dl=pexels-pixabay-36478.jpg&fm=jpg', CAST(N'2024-01-01' AS Date), CAST(N'2024-01-01' AS Date), 1)
SET IDENTITY_INSERT [dbo].[Blogs] OFF
GO
SET IDENTITY_INSERT [dbo].[Brands] ON 

INSERT [dbo].[Brands] ([brandId], [brandName], [brandDescription], [createDate], [lastUpdate]) VALUES (1, N'Adidas', NULL, CAST(N'2024-01-14' AS Date), CAST(N'2024-02-01' AS Date))
INSERT [dbo].[Brands] ([brandId], [brandName], [brandDescription], [createDate], [lastUpdate]) VALUES (2, N'Converse', NULL, CAST(N'2024-01-14' AS Date), CAST(N'2024-02-01' AS Date))
INSERT [dbo].[Brands] ([brandId], [brandName], [brandDescription], [createDate], [lastUpdate]) VALUES (3, N'Nike', NULL, CAST(N'2024-01-14' AS Date), CAST(N'2024-02-01' AS Date))
SET IDENTITY_INSERT [dbo].[Brands] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([categoryId], [categoryName], [categoryDescription], [createDate], [lastUpdate]) VALUES (1, N'1', N'Giày thể thao', CAST(N'2024-01-14' AS Date), CAST(N'2024-01-14' AS Date))
INSERT [dbo].[Categories] ([categoryId], [categoryName], [categoryDescription], [createDate], [lastUpdate]) VALUES (2, N'2', N'Giày chạy bộ', CAST(N'2024-01-14' AS Date), CAST(N'2024-01-14' AS Date))
INSERT [dbo].[Categories] ([categoryId], [categoryName], [categoryDescription], [createDate], [lastUpdate]) VALUES (3, N'3', N'Giày dã ngoại', CAST(N'2024-01-14' AS Date), CAST(N'2024-01-14' AS Date))
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Colors] ON 

INSERT [dbo].[Colors] ([colorId], [color]) VALUES (1, N'Black')
INSERT [dbo].[Colors] ([colorId], [color]) VALUES (2, N'Blue')
INSERT [dbo].[Colors] ([colorId], [color]) VALUES (3, N'Red')
SET IDENTITY_INSERT [dbo].[Colors] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
INSERT [dbo].[OrdersDetails] ([orderId], [productId], [unitPrice], [quantity], [colorId], [sizeId]) VALUES (1, 2, 3650000, 1, 2, 2)
INSERT [dbo].[OrdersDetails] ([orderId], [productId], [unitPrice], [quantity], [colorId], [sizeId]) VALUES (2, 2, 3650000, 1, 9, 9)
INSERT [dbo].[OrdersDetails] ([orderId], [productId], [unitPrice], [quantity], [colorId], [sizeId]) VALUES (2, 1, 4400000, 1, 9, 7)
GO
SET IDENTITY_INSERT [dbo].[ProductDetails] ON 

INSERT [dbo].[ProductDetails] ([productId], [sizeId], [colorId], [productImage], [quantity], [id]) VALUES (1, 1, 1, N'https://drake.vn/image/catalog/H%C3%ACnh%20content/gi%C3%A0y-Converse-n%E1%BB%AF-m%C3%A0u-%C4%91en/giay-converse-nu-mau-den-111.jpg', 11, 1)
INSERT [dbo].[ProductDetails] ([productId], [sizeId], [colorId], [productImage], [quantity], [id]) VALUES (1, 2, 1, N'https://drake.vn/image/catalog/H%C3%ACnh%20content/gi%C3%A0y-Converse-n%E1%BB%AF-m%C3%A0u-%C4%91en/giay-converse-nu-mau-den-111.jpg', 11, 2)
INSERT [dbo].[ProductDetails] ([productId], [sizeId], [colorId], [productImage], [quantity], [id]) VALUES (1, 3, 1, N'https://drake.vn/image/catalog/H%C3%ACnh%20content/gi%C3%A0y-Converse-n%E1%BB%AF-m%C3%A0u-%C4%91en/giay-converse-nu-mau-den-111.jpg', 11, 3)
SET IDENTITY_INSERT [dbo].[ProductDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([roleId], [roleName]) VALUES (1, N'Customers')
INSERT [dbo].[Roles] ([roleId], [roleName]) VALUES (2, N'Admin')
INSERT [dbo].[Roles] ([roleId], [roleName]) VALUES (3, N'Seller')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[SalePrograms] ON 

INSERT [dbo].[SalePrograms] ([salePrgmId], [title], [startDate], [endDate]) VALUES (20, N'22', CAST(N'2024-03-15' AS Date), N'2024-03-17')
INSERT [dbo].[SalePrograms] ([salePrgmId], [title], [startDate], [endDate]) VALUES (21, N'30/4', CAST(N'2024-03-15' AS Date), N'2024-03-17')
INSERT [dbo].[SalePrograms] ([salePrgmId], [title], [startDate], [endDate]) VALUES (22, N'9/11', CAST(N'2024-03-12' AS Date), N'2024-03-16')
SET IDENTITY_INSERT [dbo].[SalePrograms] OFF
GO
SET IDENTITY_INSERT [dbo].[Sales] ON 

INSERT [dbo].[Sales] ([saleId], [productId], [salePrgmId], [salePrcnt]) VALUES (64, 1, 20, 22)
INSERT [dbo].[Sales] ([saleId], [productId], [salePrgmId], [salePrcnt]) VALUES (65, 1, 20, 11)
INSERT [dbo].[Sales] ([saleId], [productId], [salePrgmId], [salePrcnt]) VALUES (66, 5, 20, 22)
SET IDENTITY_INSERT [dbo].[Sales] OFF
GO
SET IDENTITY_INSERT [dbo].[Size] ON 

INSERT [dbo].[Size] ([sizeId], [size]) VALUES (1, 36)
INSERT [dbo].[Size] ([sizeId], [size]) VALUES (2, 37)
INSERT [dbo].[Size] ([sizeId], [size]) VALUES (3, 38)
SET IDENTITY_INSERT [dbo].[Size] OFF
GO
INSERT [dbo].[Status] ([status], [statusName]) VALUES (0, N'Declined')
INSERT [dbo].[Status] ([status], [statusName]) VALUES (1, N'Pending')
INSERT [dbo].[Status] ([status], [statusName]) VALUES (2, N'Accepted')
GO
ALTER TABLE [dbo].[AccountRoles]  WITH CHECK ADD  CONSTRAINT [FK_AccountRoles_Accounts] FOREIGN KEY([accountId])
REFERENCES [dbo].[Accounts] ([accountId])
GO
ALTER TABLE [dbo].[AccountRoles] CHECK CONSTRAINT [FK_AccountRoles_Accounts]
GO
ALTER TABLE [dbo].[AccountRoles]  WITH CHECK ADD  CONSTRAINT [FK_AccountRoles_Roles] FOREIGN KEY([roleId])
REFERENCES [dbo].[Roles] ([roleId])
GO
ALTER TABLE [dbo].[AccountRoles] CHECK CONSTRAINT [FK_AccountRoles_Roles]
GO
ALTER TABLE [dbo].[Blogs]  WITH CHECK ADD  CONSTRAINT [FK_Blogs_Accounts] FOREIGN KEY([employeeId])
REFERENCES [dbo].[Accounts] ([accountId])
GO
ALTER TABLE [dbo].[Blogs] CHECK CONSTRAINT [FK_Blogs_Accounts]
GO
ALTER TABLE [dbo].[Feedbacks]  WITH CHECK ADD  CONSTRAINT [FK_Feedbacks_Accounts] FOREIGN KEY([customerId])
REFERENCES [dbo].[Accounts] ([accountId])
GO
ALTER TABLE [dbo].[Feedbacks] CHECK CONSTRAINT [FK_Feedbacks_Accounts]
GO
ALTER TABLE [dbo].[Feedbacks]  WITH CHECK ADD  CONSTRAINT [FK_Feedbacks_Products] FOREIGN KEY([productId])
REFERENCES [dbo].[Products] ([productId])
GO
ALTER TABLE [dbo].[Feedbacks] CHECK CONSTRAINT [FK_Feedbacks_Products]
GO
ALTER TABLE [dbo].[ImportBillDetails]  WITH CHECK ADD  CONSTRAINT [FK_ImportBillDetails_ImportBills] FOREIGN KEY([importId])
REFERENCES [dbo].[ImportBills] ([importId])
GO
ALTER TABLE [dbo].[ImportBillDetails] CHECK CONSTRAINT [FK_ImportBillDetails_ImportBills]
GO
ALTER TABLE [dbo].[ImportBillDetails]  WITH CHECK ADD  CONSTRAINT [FK_ImportBillDetails_Products] FOREIGN KEY([productId])
REFERENCES [dbo].[Products] ([productId])
GO
ALTER TABLE [dbo].[ImportBillDetails] CHECK CONSTRAINT [FK_ImportBillDetails_Products]
GO
ALTER TABLE [dbo].[ImportBills]  WITH CHECK ADD  CONSTRAINT [FK_ImportBills_Accounts] FOREIGN KEY([employeeId])
REFERENCES [dbo].[Accounts] ([accountId])
GO
ALTER TABLE [dbo].[ImportBills] CHECK CONSTRAINT [FK_ImportBills_Accounts]
GO
ALTER TABLE [dbo].[ImportBills]  WITH CHECK ADD  CONSTRAINT [FK_ImportBills_Providers] FOREIGN KEY([providerId])
REFERENCES [dbo].[Providers] ([providerId])
GO
ALTER TABLE [dbo].[ImportBills] CHECK CONSTRAINT [FK_ImportBills_Providers]
GO
ALTER TABLE [dbo].[Orders]  WITH NOCHECK ADD  CONSTRAINT [FK_Orders_Accounts] FOREIGN KEY([customerId])
REFERENCES [dbo].[Accounts] ([accountId])
GO
ALTER TABLE [dbo].[Orders] NOCHECK CONSTRAINT [FK_Orders_Accounts]
GO
ALTER TABLE [dbo].[Orders]  WITH NOCHECK ADD  CONSTRAINT [FK_Orders_Accounts1] FOREIGN KEY([employeeId])
REFERENCES [dbo].[Accounts] ([accountId])
GO
ALTER TABLE [dbo].[Orders] NOCHECK CONSTRAINT [FK_Orders_Accounts1]
GO
ALTER TABLE [dbo].[Orders]  WITH NOCHECK ADD  CONSTRAINT [FK_Orders_Accounts2] FOREIGN KEY([shipperId])
REFERENCES [dbo].[Accounts] ([accountId])
GO
ALTER TABLE [dbo].[Orders] NOCHECK CONSTRAINT [FK_Orders_Accounts2]
GO
ALTER TABLE [dbo].[Orders]  WITH NOCHECK ADD  CONSTRAINT [FK_Orders_Status] FOREIGN KEY([status])
REFERENCES [dbo].[Status] ([status])
GO
ALTER TABLE [dbo].[Orders] NOCHECK CONSTRAINT [FK_Orders_Status]
GO
ALTER TABLE [dbo].[OrdersDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrdersDetails_Orders] FOREIGN KEY([orderId])
REFERENCES [dbo].[Orders] ([orderId])
GO
ALTER TABLE [dbo].[OrdersDetails] CHECK CONSTRAINT [FK_OrdersDetails_Orders]
GO
ALTER TABLE [dbo].[OrdersDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrdersDetails_ProductDetails] FOREIGN KEY([productId], [sizeId], [colorId])
REFERENCES [dbo].[ProductDetails] ([productId], [sizeId], [colorId])
GO
ALTER TABLE [dbo].[OrdersDetails] CHECK CONSTRAINT [FK_OrdersDetails_ProductDetails]
GO
ALTER TABLE [dbo].[ProductDetails]  WITH CHECK ADD  CONSTRAINT [FK_ProductDetails_Colors] FOREIGN KEY([colorId])
REFERENCES [dbo].[Colors] ([colorId])
GO
ALTER TABLE [dbo].[ProductDetails] CHECK CONSTRAINT [FK_ProductDetails_Colors]
GO
ALTER TABLE [dbo].[ProductDetails]  WITH CHECK ADD  CONSTRAINT [FK_ProductSize_Products] FOREIGN KEY([productId])
REFERENCES [dbo].[Products] ([productId])
GO
ALTER TABLE [dbo].[ProductDetails] CHECK CONSTRAINT [FK_ProductSize_Products]
GO
ALTER TABLE [dbo].[ProductDetails]  WITH CHECK ADD  CONSTRAINT [FK_ProductSize_Size] FOREIGN KEY([sizeId])
REFERENCES [dbo].[Size] ([sizeId])
GO
ALTER TABLE [dbo].[ProductDetails] CHECK CONSTRAINT [FK_ProductSize_Size]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Brands] FOREIGN KEY([brandId])
REFERENCES [dbo].[Brands] ([brandId])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Brands]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories] FOREIGN KEY([categoryId])
REFERENCES [dbo].[Categories] ([categoryId])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories]
GO
ALTER TABLE [dbo].[Replies]  WITH CHECK ADD  CONSTRAINT [FK_Replies_Accounts] FOREIGN KEY([employeeId])
REFERENCES [dbo].[Accounts] ([accountId])
GO
ALTER TABLE [dbo].[Replies] CHECK CONSTRAINT [FK_Replies_Accounts]
GO
ALTER TABLE [dbo].[Replies]  WITH CHECK ADD  CONSTRAINT [FK_Replies_Feedbacks] FOREIGN KEY([feedbackId])
REFERENCES [dbo].[Feedbacks] ([feedbackId])
GO
ALTER TABLE [dbo].[Replies] CHECK CONSTRAINT [FK_Replies_Feedbacks]
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD  CONSTRAINT [FK_Sales_Products] FOREIGN KEY([productId])
REFERENCES [dbo].[Products] ([productId])
GO
ALTER TABLE [dbo].[Sales] CHECK CONSTRAINT [FK_Sales_Products]
GO
ALTER TABLE [dbo].[Sales]  WITH NOCHECK ADD  CONSTRAINT [FK_Sales_SalePrograms] FOREIGN KEY([productId])
REFERENCES [dbo].[SalePrograms] ([salePrgmId])
GO
ALTER TABLE [dbo].[Sales] NOCHECK CONSTRAINT [FK_Sales_SalePrograms]
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteAccount]    Script Date: 3/15/2024 5:17:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Delete Procedure
CREATE PROCEDURE [dbo].[sp_DeleteAccount]
    @accountId INT
AS
BEGIN
    DELETE FROM Accounts WHERE accountId = @accountId
END

GO
/****** Object:  StoredProcedure [dbo].[sp_GetAccountByEmail]    Script Date: 3/15/2024 5:17:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetAccountByEmail]
    @email NVARCHAR(100)
AS
BEGIN
    SELECT a.*, r.roleId, r.roleName FROM Accounts a
    JOIN AccountRoles ar ON a.accountId = ar.accountId
    JOIN Roles r ON ar.roleId = r.roleId
    WHERE email = @email
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAccountById]    Script Date: 3/15/2024 5:17:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Read Procedure
CREATE PROCEDURE [dbo].[sp_GetAccountById]
    @accountId INT
AS
BEGIN
    SELECT * FROM Accounts WHERE accountId = @accountId
END

GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllAccounts]    Script Date: 3/15/2024 5:17:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetAllAccounts]
AS
BEGIN
    SELECT * FROM Accounts
END

GO
/****** Object:  StoredProcedure [dbo].[sp_InsertAccount]    Script Date: 3/15/2024 5:17:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertAccount]
    @fullName NVARCHAR(100),
    @email NVARCHAR(100),
    @password NVARCHAR(500),
    @gender BIT,
    @address NVARCHAR(255),
    @phone VARCHAR(10),
    @userImage VARCHAR(MAX),
	@lastLogin DATE,
    @createDate DATE,
    @status INT
AS
BEGIN
    INSERT INTO Accounts (fullName, email, password, gender, address, phone, userImage, createDate, [status])
    VALUES (@fullName, @email, @password, @gender, @address, @phone, @userImage, @createDate, @status);

	DECLARE @AccountId INT = SCOPE_IDENTITY();

    -- Assuming the RoleId for 'User' is 1
    INSERT INTO AccountRoles (accountId, roleId, startDate, endDate)
    VALUES (@AccountId, 1, @createDate, NULL);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateAccount]    Script Date: 3/15/2024 5:17:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Update Procedure
CREATE PROCEDURE [dbo].[sp_UpdateAccount]
    @accountId INT,
    @fullName NVARCHAR(100),
    @email NVARCHAR(100),
    @password NVARCHAR(500),
    @gender BIT,
    @address NVARCHAR(255),
    @phone VARCHAR(10),
    @userImage VARCHAR(MAX),
    @lastLogin DATE,
    @createDate DATE,
    @status INT
AS
BEGIN
    UPDATE Accounts
    SET
        fullName = @fullName,
        email = @email,
        password = @password,
        gender = @gender,
        address = @address,
        phone = @phone,
        userImage = @userImage,
        lastLogin = @lastLogin,
        createDate = @createDate,
        [status] = @status
    WHERE
        accountId = @accountId
END

GO
USE [master]
GO
